@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutToLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-10%);
    }
}

.fadeInFromLeft {
    animation: fadeInFromLeft 0.3s ease forwards;
}

.fadeOutToLeft {
    animation: fadeOutToLeft 0.3s ease forwards;
}


